<div *ngFor="let dimension of dimensions">
  <div>{{dimension.name.lang_ru}}</div>
  <span *ngIf="dimension.items">
        <span *ngFor="let item of dimension.items">
          <div>{{item.name.lang_ru}}</div>
        </span>
      </span>
</div>


<div fxLayout="row" class="parent">
  <div style="border: 1px solid black" fxFlex="{{100 / dimensions.length}}" *ngFor="let dimension of dimensions">
    {{dimension.name.lang_ru}}
    <div fxLayout="row">
      <div *ngFor="let item of dimension.items"  fxFlex="100" fxLayoutAlign="center center">
        <div *ngFor="let child of item.children" fxFlex="{{100 / item.children.length}}" fxLayoutAlign="center center">
          {{child.name.lang_ru}}
        </div>
    </div>
  </div>

</div>
</div>
